# Environemnet
__pycache__/


# Project Specific
Assets/
dissertation_notes.txt
development/training_output/
development/weights/
production/
production_main.ipynb
practice.ipynb
training_log.csv

# datasets
data/video_decription_data.csv
data/ucl_modules_data.xlsx
data/osdg_data_old.csv
data/osdg_data.csv
data/relx_data.csv
data/UCL Modules Data.xlsx

# models
development/models/GPT.py